@import '~normalize.css';
@import 'type/font';
@import 'type/copy';
@import 'type/heading';

// All is border-box!
* {
	box-sizing: border-box;
}

body {
	font-family: $fontDefault;
}

.main-container {
	max-width: $mainContainerSize;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: inherit;
}

.clearfix:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.icon-diamond {
	width: 10px;
	height: 10px;
	background: $colorPrimary;
	transform: rotate(-45deg);
	display: inline-block;
}

.flex-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text-center {
	text-align: center;
}

.container {
	max-width: $mainTextWidth;
	margin-left: auto;
	margin-right: auto;
}

.swiper-pagination {
	.swiper-pagination-bullet {
		background: $colorLightGrey;
		opacity: 1;
	}
	.swiper-pagination-bullet-active {
		background: $colorPrimary;
	}

	.swiper-pagination-bullet-custom {
		width: 10px;
		height: 15px;
		font-size: 12px;
		line-height: 15px;
		color: $colorDarkGrey;
		background: none;
	}
}

.summary-wrap {
	margin: 60px auto;

	p {
		margin-top: 20px;
		font-size: pxTorem(14px);
		line-height: (24 / 14);
	}
}

.foundation-slider .swiper-wrapper {
	background: url('../image/foundation-bg.jpg') no-repeat center center / cover;
	padding: 40px;
	border-radius: 5px;

	.swiper-slide {
		opacity: 0.6;
	}

	.swiper-slide-active {
		opacity: 1;
	}
}
