:local {
	.slider-wrap {
		@media (max-width: 939px) {
			padding: 0 40px;
			overflow: hidden;
		}
	}

	@include respond-to(SMALL) {
		.slider-wrap :global(.swiper-container) {
			overflow: visible;
		}

		.slider-wrap :global(.swiper-slide) {
			opacity: 0.6;
		}

		.slider-wrap :global(.swiper-slide-active) {
			opacity: 1;
		}

		.slider-wrap :global(.swiper-pagination) {
			position: static;
			margin-top: 20px;
		}
	}

	@include respond-to(ONLY-BIG) {
		.slider-wrap :global(.swiper-pagination) {
			display: none;
		}
	}

	.content {
		border-radius: 5px;
		background: #fff;
		overflow: hidden;

		h2 {
			font-size: 12px;
			padding: 10px 0;
			text-align: center;
			background-image: radial-gradient(ellipse at top, #88745a, #3d280b);
			color: $colorLightGrey;
		}

		img {
			width: 100%;
		}

		.description {
			padding: 10px;
			color: $colorDarkGrey;

			p {
				font-size: 13px;
				line-height: (21 / 13);
				margin-top: 0;
				height: 160px;
				overflow: hidden;
			}
		}
	}
}
