:local {
	.wrap {
		//background: url('asset/image/business-bg.jpg') no-repeat center center / cover;
		color: $colorLightGrey;
		padding: 60px 0;

		.foundation-summary,
		.business-summary {
			padding-bottom: 22px;
		}

		@include respond-to(SMALL) {
			padding: 30px 0;
		}
	}
}
