:local {
	.wrap {
		background: url('asset/image/aboutus-bg.jpg') no-repeat center center / cover;
	}

	.tab-nav {
		margin: 0 auto;
		width: 456px;
		overflow: hidden;
		position: relative;
	}

	.nav-active-background {
		width: 150px;
		height: 80px;
		background-image: radial-gradient(ellipse at top, #efefef, #c9c7c7);
		left: 1px;
		top: 0;
		position: absolute;
		z-index: 1;
		transition: left 0.5s;

		&:after {
			content: '';
			display: block;
			height: 0;
			width: 0;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			border-top: 8px solid white;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
		}
	}

	.nav-item {
		color: $colorLightGrey;
		font-size: pxTorem(16px);
		height: 80px;
		line-height: 80px;
		width: 150px;
		float: left;
		background: rgba(95, 68, 3, 0.5);
		text-align: center;
		margin-right: 2px;
		cursor: pointer;

		span {
			position: relative;
			z-index: 2;
		}
	}

	.nav-item-active {
		color: $colorDarkGrey;
		position: relative;
		transition: color 0.5s;
	}

	.tab-content {
		min-height: 460px;
		padding: 30px 0;
	}

	.tab-item {
		color: $colorLightGrey;
		&.rule {
			line-height: 2;
			font-size: pxTorem(14px);
			text-align: center;
		}
	}

	.team {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

	.member {
		width: 33.3%;
		margin-left: 20px;
		border-radius: 5px;
		overflow-y: scroll;

		&:first-child {
			margin-left: 0;
		}
	}

	.member-pic {
		padding-bottom: 80%;
		position: relative;
		overflow: hidden;

		img {
			position: absolute;
			left: 0;
			top: 0;
			min-width: 100%;
			min-height: 100%;
		}
	}

	.member-info {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		background: url('asset/image/name-tag-bg.png') no-repeat center center / cover;
		padding: 5px 10px;
		line-height: 18px;
	}

	.member-name {
		font-size: pxTorem(15px);
		display: block;
	}

	.member-title {
		display: block;
		font-size: pxTorem(12px);
	}

	.member-desc {
		p {
			padding: 10px;
			background-color: $colorLightGrey;
			font-size: pxTorem(12px);
			color: $colorDarkGrey;
			line-height: (18 / 12);
			height: 200px;
			overflow: hidden;
		}
	}
}

.about {
	width: 100%;
}

.about-nav {
	width: 450px;
	margin: 0 auto;
}

.about-nav-item {
	width: 150px;
	text-align: center;
	float: left;
	opacity: 0.6;
	transition: opcity 0.5s;

	img {
		display: block;
		margin: 10px auto;
		height: 60px;
		transition: transform 0.5s;
	}

	&.active {
		opacity: 1;

		img {
			transform: scale(1.2);
		}
	}
}

.about-nav-bar {
	height: 0;
	float: left;
	width: 300px;
	margin-left: 75px;
	margin-top: 15px;
	border-bottom: 3px solid #aa957b;
	position: relative;

	i {
		border-radius: 100%;
		background: $colorPrimary;
		display: block;
		width: 10px;
		height: 10px;
		position: absolute;
		left: 0;
		top: -5px;

		& + i {
			left: calc(50% - 5px);
		}

		& + i + i {
			left: auto;
			right: -5px;
		}

		&.active {
			transform: scale(1.5);
		}
	}
}

.about-content {
	padding-top: 30px;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}

.about-content-text {
	font-size: pxTorem(14px);
	line-height: (24 / 14);
}
