:local {
	.header {
		overflow: hidden;
		height: 80px;
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 9;

		@include respond-to(SMALL) {
			height: auto;
		}
	}

	.main-menu {
		background-color: $colorTertiary;
	}

	.wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.burger {
		padding: 18px;
		width: 75px;

		span {
			height: 3px;
			border-radius: 3px;
			background-color: $colorLightGrey;
			width: 25px;
			display: block;
			position: relative;

			&:after,
			&:before {
				content: '';
				width: 25px;
				height: 3px;
				border-radius: 3px;
				background-color: $colorLightGrey;
				display: block;
				position: absolute;
				left: 0;
			}

			&:before {
				top: -8px;
				transition: top 0.2s ease 0.2s, transform 0.2s ease 0s;
			}

			&:after {
				bottom: -8px;
				transition: bottom 0.2s ease 0.2s, transform 0.2s ease 0s;
			}
		}

		&.open {
			span {
				&:before {
					top: 0;
					transform: rotate(-45deg);
					transition: top 0.2s ease 0s, transform 0.2s ease 0.2s;
				}

				&:after {
					bottom: 0;
					transform: rotate(45deg);
					transition: bottom 0.2s ease 0s, transform 0.2s ease 0.2s;
				}
			}
		}
	}

	.item {
		width: 20%;
		float: left;
		color: $colorLightGrey;
		text-align: center;
		line-height: 80px;
		position: relative;

		a {
			text-decoration: none;
			display: block;
			cursor: pointer;
		}

		@include respond-to(SMALL) {
			line-height: 53px;
		}
	}

	.top-line {
		&:before {
			content: '';
			display: block;
			width: 70%;
			min-width: 100px;
			height: 7px;
			background-color: $colorPrimary;
			position: absolute;
			left: 15%;
			top: 0;
			opacity: 0;
			transition: opacity 0.4s;
		}

		&.active:before {
			opacity: 1;
		}
	}

	.logo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;

		@include respond-to(SMALL) {
			width: 35%;
		}

		img {
			max-height: 54px;
			max-width: 100%;
			display: block;

			@include respond-to(SMALL) {
				max-height: 35px;
			}
		}
	}
	@include respond-to(SMALL) {
		.switcher {
			width: 75px;
			font-size: pxTorem(14px);
		}
	}

	.submenu {
		width: 100%;
		background-color: rgba(49, 40, 40, 0.95);
		color: $colorLightGrey;
		height: 0;
		overflow: hidden;
		transition: all 0.5s;

		p {
			line-height: 24px;
			font-size: 18px;
			padding: 15px 0;
			text-align: center;

			&:first-child {
				padding-top: 35px;
			}

			&:last-child {
				padding-bottom: 35px;
			}
		}

		&.open {
			height: 256px;
		}
	}
}
