:local {
	.slider {
		height: 685px;
		text-align: center;

		@include respond-to(SMALL) {
			height: 580px;
		}
	}

	.slider-content {
		max-width: $mainTextWidth;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		color: $colorLightGrey;
		pointer-events: none;
		background: rgba(0, 0, 0, 0.7);
		padding: 30px;
		text-align: center;

		@include respond-to(SMALL) {
			padding: 20px;
			width: 90%;
		}

		h2 {
			transform: scale(0.8);
			opacity: 0.2;
			animation: zoomOut 1s ease-in-out 0.5s 1;
			animation-fill-mode: forwards;
		}
		i {
			vertical-align: middle;
			margin: 0 12px;

			@include respond-to(SMALL) {
				display: block;
				margin: 5px auto;
			}
		}

		p {
			font-size: pxTorem(14px);
			line-height: (24 / 14);
			text-align: center;

			@include respond-to(SMALL) {
				font-size: pxTorem(12px);
			}
		}
	}

	.slider1,
	.slider2,
	.slider3,
	.slider4,
	.slider5 {
		background: url('asset/image/HeroSlider-01.jpg') no-repeat center center / cover;
	}
	.slider .pagination {
		bottom: 20px;
	}

	@keyframes zoomOut {
		0% {
			transform: scale(0.8);
			opacity: 0.2;
		}
		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
}
