:local {
	.slider {
		height: 685px;
		text-align: center;
		color: $colorLightGrey;

		@include respond-to(SMALL) {
			height: 580px;
		}
	}

	.slider-content {
		max-width: $mainTextWidth;

		@include respond-to(SMALL) {
			padding: 0 20px;
		}

		i {
			vertical-align: middle;
			margin: 0 12px;

			@include respond-to(SMALL) {
				display: block;
				margin: 5px auto;
			}
		}

		p {
			font-size: pxTorem(14px);
			line-height: (24 / 14);

			@include respond-to(SMALL) {
				font-size: pxTorem(12px);
			}
		}
	}

	.slider1,
	.slider2,
	.slider3 {
		background: url('asset/image/HeroSlider-01.jpg') no-repeat center center / cover;
	}
}
